<!DOCTYPE html>
<html>

<head>
    <title>WeightManagementApp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <meta name="viewport" content="width=device-width,initial-scale=1">

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
</head>
<!-- 本当は必要なページだけに追加すべきですが，本題ではないのでここに追加します -->
<!DOCTYPE html>
<html>

<head>
    <title>体重管理アプリ</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
</head>

<body>
    <!-- 全ページにナビバーを追加 -->
    <%= render 'shared/header' %>
    <!-- ログイン関連ページ以外にフラッシュ表示部分を追加 -->
    <% if controller_name == 'graphs' %>
    <%= render 'shared/flash_messages' %>
    <% end %>
    <div class="graph-container">
        <%= link_to 'ゲストログイン（閲覧用）', users_guest_sign_in_path, method: :post, class:"btn btn-warning btn-block my-4"%>
        <%= yield %>
    </div>
</body>

</html>